*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    text-decoration: none;
    
}
 /* todo header start  */

header{  
}

a{
    text-decoration: none;
}
header nav{
    width: 100%;
}
header .flex-wrapper{
    display: flex;
    justify-content: space-between;
  
}
header .navbar-A{
    width: 100%;
    background-color: rgb(34, 53, 223);
}
.navbar-A ul{
    display: flex;
    padding: 7px 163px;  
    justify-content: end;
    list-style: none;    
}
.navbar-A ul li a{
    font-size: 10px;
    display: flex;
    padding: 5px;  
    position: relative;
    color: white;
    font-weight: 500;
}
.navbar-A ul :hover  a{
    color: red;
}
.navbar-BA{
    height: 75px;
    /* width: 100%; */
    background-color: white;
    display: flex;
    padding: 0 161px;
}
.navbar-BA .navbar-BB{
   align-items: center;
   display: flex;
}
.navbar-BA .logo{
    align-items: center;
    display: flex;
}
.navbar-BA .logo img{ 
    width: 142px;
}
.navbar-BA .navbar-BB ul{
    display: flex;
    padding: 7px;  
    justify-content: end;
    list-style: none; 
}
.navbar-BA .navbar-BB  ul a{
    font-size: 10px;
    display: flex;
    padding: 5px;   
    position: relative;
    color: black;
    font-weight: 500;
}
.navbar-BA .navbar-BB ul :hover a{
    color: red;
}
.navbar-BA .navbar-BB .cta-btn{
    font-size: 15px;
    background-color: #f7b432;
    color: rgb(10, 1, 1);
    padding: 10px 16px;
    border-radius: 3px;
    font-weight: 700;
}
 /* todo header end */
 /* todo vid-info start */
 .video-main{
    display: flex;
}
.video-main .vid-topstiker-logo img{
   height: 100px;
} 
 .video-main .vid-info{
    letter-spacing: -3px;
    line-height: 125px;
    text-shadow: 0em 0.1em 0.1em rgba(0,0,0,0.4);
    text-transform: uppercase;
    
}
 .video-main .vid-info h1{
    display: flex;
    font-size: 152px;
    color: #f7b432;
    font-weight: 700;
}
.video-main .vid-info  span{
    display: flex;
    color: rgb(182, 25, 25);
    font-size: 152px;
    font-weight: 700;
    font-style: italic;
}
.video-main .vid-info h2{
    font-size: 152px;
    color: #f7b432;
    font-weight: 700;
    position: relative;

}
.video-main .vid-info h3{
    color: black;
    font-size: 60px;
    font-weight: 500;
}
.video-main .Video-mp4 .video{
    display: flex;
   
}
.video-main .video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}