*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    text-decoration: none;
    
}
 /* todo header start  */

header{  
}

a{
    text-decoration: none;
}
header nav{
    width: 100%;
}
header .flex-wrapper{
    display: flex;
    justify-content: space-between;
  
}
header .navbar-A{
    width: 100%;
    background-color: rgb(34, 53, 223);
}
.navbar-A ul{
    display: flex;
    padding: 7px 407px;  
    justify-content: end;
    list-style: none;    
}
.navbar-A ul li a{
    font-size: 15px;
    display: flex;
    padding: 5px;  
    position: relative;
    color: white;
    font-weight: 500;
}
.navbar-A ul :hover  a{
    color: red;
}
.navbar-BA{
    display: flex;
    height: 75px;
    align-items: center;
    padding: 60px 60px 60px  441px;
    background-color: white;
}
.navbar-BA .navbar-BB{
   align-items: center;
   display: flex;
}
.navbar-BA .logo{
    align-items: center;
    display: flex;
}
.navbar-BA .logo img{ 
    width: 142px;
}
.navbar-BA .navbar-BB ul{
    display: flex;
    padding: 7px;  
    justify-content: end;
    list-style: none; 
}
.navbar-BA .navbar-BB  ul a{
    font-size: 15px;
    display: flex;
    padding: 5px;   
    position: relative;
    color: black;
    font-weight: 500;
}
.navbar-BA .navbar-BB ul :hover a{
    color: red;
}
.navbar-BA .navbar-BB .cta-btn{
    /* font-size: 15px; */
    display: flex;
    background-color: #f7b432;
    color: rgb(10, 1, 1);
    padding:  19px 18px 24px 45px;
    border-radius: 3px;
    font-weight: 700;
    transition: all 0.5s ease;
}
.navbar-BA .navbar-BB .cta-btn:hover{
    padding-left: 10px;
}
.navbar-BA .navbar-BB .cta-btn img  {
    height: 15px;
    opacity: 0;
    margin-top: 7px;
    transition: all 0.5s ease;
}
.navbar-BA .navbar-BB .cta-btn:hover img{
    opacity: 5;
    transform: translate(12px)
}
.navbar-BA .navbar-BB .cta-btn h1{
    font-size: 22px;
    transition: all 0.5s ease;
}
.navbar-BA .navbar-BB .cta-btn h1:hover{
    transform: translate(12px)
}

 /* todo header end */

 /* todo vid-info start */
 .video-main{
    display: flex;
}
 .video-main .vid-info{
    letter-spacing: -3px;
    line-height: 125px;
    text-shadow: 0em 0.1em 0.1em rgba(0,0,0,0.4);
    text-transform: uppercase;
    padding: 146px 54px 9px 198px; 
}
.video-main .vid-info img{
    position: relative;
    height: 100px;
 } 
 .video-main .vid-info h1{
    display: flex;
    font-size: 152px;
    color: #f7b432;
    font-weight: 700;
}
.video-main .vid-info  span{
    display: flex;
    color: rgb(182, 25, 25);
    font-size: 152px;
    font-weight: 700;
    font-style: italic;
}
.video-main .vid-info h2{
    font-size: 152px;
    color: #f7b432;
    font-weight: 700;
    position: relative;

}
.video-main .vid-info h3{
    color: black;
    font-size: 60px;
    font-weight: 500;
}
.video-main .Video-mp4 .video{
    display: flex;
   
}
.video-main .video{
    position: absolute;
    display: flex;
  width:100%;
  z-index: -1;
}
.video-main .vid-bottom-stiker-logo{
    display: flex;   
}
.video-main .vid-bottom-stiker-logo img{
    transform: translateY(468px);
    padding-left: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
}
 /* todo vid-info end */
  /* todo Second-section-img-card start */
.card-container{
    display: flex;
    justify-content: space-evenly;
    transform: translateY(170px); 
    margin-bottom: 250px; 
}
.card-container .img-containerA{
 
}
.card-container .img-containerA img{
    height: 225px;
    width: 310px;
  
}
.card-container .img-containerA h1{
    font-size: 45px;
    top:  80px;;
    left: 195px;
    position: absolute;
    text-align: center;
    color: white; 
    cursor: pointer;
}
.card-container .img-containerA h1:hover{
    color: #f7b432;
}
.card-container .img-containerB{

}
.card-container .img-containerB img{
    height: 225px;
    width: 310px;
}
.card-container .img-containerB h1{
    font-size: 45px;
    top:  80px;;
    left: 700px;
    position: absolute;
    text-align: center;
    color: white;
    cursor: pointer;
}
.card-container .img-containerB h1:hover{
    color: #f7b432;
}
.card-container .img-containerC{

}
.card-container .img-containerC img{
    height: 225px;
    width: 310px;
}
.card-container .img-containerC h1{
    font-size: 45px;
    display: flex;
    position: absolute;
    top:  80px;;
    right: 270px;
    color: white;
    cursor: pointer;
}
.card-container .img-containerC h1:hover{
    color: #f7b432;
}
/* todo Second-section-img-card end */

  /* todo Thirid-section  */
  .Section-third{
    display: flex;

  }
  .Section-third .left-img{
    flex: 1;
  }
  .Section-third .left-img img{
    height: 550px;
    width: 500px;
  }
  .Section-third .right-info{
    
  }
  .Section-third .right-info h1{
        font-size: 65px;
        font-weight: 700;
        
  }
  